<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>

    <!-- 商户支付密钥key-->
    <add key="key" value="qazwsxedc8h0k4ems3lorwbsnmoy68re"/>
    <!-- 商户号-->
    <add key="mch_id" value=""/>
    <!-- 商户 appid -->
    <add key="wxappid" value=""/>
    <!-- 证书地址 -->
    <add key="certPath" value="E:\\米娅微信红包证书\\apiclient_cert.p12"/>
    <!--证书密码-->
    <add key="password" value=""/>
    <!--提供方名称-->
    <add key="nick_name" value="测试"/>
    <!--红包収送者名称 -->
    <add key="send_name" value="测试"/>
    <!--红包収放总人数-->
    <add key="total_num" value="1"/>
    <!--红包祝福诧-->
    <add key="wishing" value="测试祝福语"/>
    <!--活动名称-->
    <add key="act_name" value="测试活动名称"/>
    <!--备注-->
    <add key="remark" value="测试备注"/>
    <!--商户logo的url -->
    <add key="logo_imgurl" value=""/>
    <!--分享文案-->
    <add key="share_content" value=""/>
    <!--分享链接-->
    <add key="share_url" value=""/>
    <!--分享的图片url -->
    <add key="share_imgurl" value=""/>
    <!--调用接口的机器 Ip 地址 -->
    <add key="client_ip" value="127.0.0.1"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-PayForWeiXin-20150127113419;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-PayForWeiXin-20150127113419.mdf" />
  </connectionStrings>

</configuration>